.library-carousel {
    overflow: hidden;
}

.library-carousel img {
    height: 75vh;
    width: 100%;
    max-width: 100%;
}


.slider-prev,
.slider-next {
    display: block;
    position: absolute;
    padding: 0 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 36px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
    z-index: 1;
}

.slider-prev {
    left: 20px;
    font-size: 3rem;
}

.slider-next {
    right: 20px;
    font-size: 3rem;
}