.skip-link {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: .5rem;
    translate: 0 -100%;
    z-index: 999;
}

.skip-link:focus {
    translate: 0;
}

.main-content {
    position: relative;
    padding-top: 5rem;
}

.clean-link:hover {
    color: inherit;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

hr {
  border: 1px solid #fffff;
  opacity: 1;
}